.screen-shots {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  .screen-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 1);
  }
}
