.polling {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);

  padding: 10px 0 10px 10px;
  color: #ffffff;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      width: calc(100% - 160px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@keyframes blinkBackground {
  from {
    background-color: black;
  }
  to {
    background-color: red;
  }
}

.polling-blinking {
  animation: blinkBackground 1s infinite alternate;
}
